PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/codetrail
CLIENT_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=codetrail-karim
FIREBASE_SERVICE_ACCOUNT_KEY={"project_id":"codetrail-karim","client_email":"firebase-adminsdk@example.iam.gserviceaccount.com","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"}
